
<div class="leave_management_sys_form" >
<% if flash[:alert] %>
<p id="notice" ><%= flash[:alert] %></p>
<% end %>

<%= form_tag('/sessions/login') do %>
<fieldset>
<legend>Please Log In</legend>
<div>
<label for="name" >Name:</label>
<%= text_field_tag :name, params[:name] %>
</div>

<div>
<%= submit_tag "Login"  ,:controller=> "sessions" %>
</div>
</fieldset>
<% end %>
</div>
